@page
@model CookingBlog.Web.Pages.Intranet.Admin.Ingredients.IndexModel

@{
    ViewData["Title"] = "Ingredients";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Ingredients</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div>
    <form class="container" method="POST">
        <div class="row">
            <div class="col-md-4">
                <input name="search-text" type="text" placeholder="Search for ingredient" autocomplete="off"  />
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ingredient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
